*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.bcf
*.synctex
*.synctex.gz(busy)
*.synctex.gz(cont)
*.synctex.gz(interrupted)
*.synctex.gz(running)
*.synctex.gz(temp)
*.synctex.gz(x)
*.synctex.gz(y)

report.pdf
